.item{
  cursor: pointer;
  margin: 5px 3px;
  padding: 12px 22px;
  border: 1px solid #C5C5C5;
  border-radius: 200px;

  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  transition: all .3s ease-in-out;

    &:hover{
      color: #FFFFFF;
      background: #000000;
  }
}