.btn {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  margin-top: 30px;
  padding: 15px 50px;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 200px;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover{
    color: #FFFFFF;
    background: #000000;
  }
}